<!doctype html>
<html lang="es-AR">
<head>

<title>Memorizate ésta - Estudiando para el final de Historia 2 Cátedra Gavito</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/x-icon" href="favicon.ico">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/main.css">

</head>

<body id="id_appContainer">

<!-- Main Content -->
<div class="container">

	<section id="id_questionContainer"></section>

	<hr>

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-md-10">
				<p>Marzo 2015. Autor: <a href="http://about.me/ignaciosans" target="_blank">Ignacio Sans</a>. Github: <a href="https://github.com/dbleyenda">dbleyenda</a>. Carrera de Diseño Gráfico. FADU. UBA. Buenos Aires. Argentina.</p>
			</div>
			<div class="col-md-2">
				<p><a href="http://www.ideaslocomotoras.com" target="_blank">ideaslocomotoras.com</a></p>
			</div>
		</div>
	</footer>

</div>

<!-- Results Modal -->
<div id="id_resultsModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Fin del juego</h4>
			</div>
			<div class="modal-body">
				<h4>Respondiste correctamente <span id="id_correctAnswers"></span> de <span id="id_totalQuestions"></span>.</h4>
				<p id="id_finalMessage"></p>
				<p>¡Gracias por jugar! Pasalo a tus compañeros, es más divertido estudiar jugando.</p>
				<p>Y si te gusto, ¡compartilo!</p>
				<div class="share">

					<!-- Twitter -->
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="dbleyenda" data-hashtags="Gavito2">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

					<!-- Google Plus -->
					<div class="g-plusone" data-size="medium"></div>

					<!-- Facebook -->
					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdbleyenda.github.io%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>

				</div>
			</div>
			<div class="modal-footer">
				<button id="id_tryAgain" class="btn btn-primary" title="Intentar de nuevo">Intentarlo de nuevo</button>
			</div>
		</div>
	</div>
</div>

<!-- Backbone Templates -->
<script type="text/template" id="id_questionTemplate">
<div class="row">

	<!-- Image -->
	<div class="col-md-6" id="id_imageColumn">
		<figure>	
			<img src="img/<%= filename %>"/>
		</figure>
	</div>

	<!-- Form -->
	<div class="col-md-6" id="id_formColumn">		

		<header>
			<h1>Memorizate ésta.</h1>
			<p>Un juego para estudiar las piezas gráficas del final de Historia 2 de Cátedra Gavito.</p>
		</header>	

		<hr>

		<p class="text-muted">Respuestas correctas: <strong><span data-bind="text:correct"><%= correct %></span> de <%= total %></strong></span>.

		<hr>

		<div class="form-group">
			<label for="id_userAnswer">Escribe el nombre y/o apellido de el/los autor/es de la pieza:</label>
			<input type="text" class="form-control" name="userAnswer" id="id_userAnswer" placeholder="Ésta pieza es de..." data-bind="value:userAnswer,events:['keyup']" />
		</div>

		<button class="btn btn-default" id="id_getAnswerButton" title="Ver respuesta">Ver respuesta</button>

		<div id="id_answerContainer" style="display:none;">
			
			<div class="row">

				<div class="col-md-9">

					<!-- Ok Message -->
					<p class="h5 bg-success ok" style="display:none;"><span class="text-success glyphicon glyphicon-ok" aria-hidden="true"></span> ¡Bien! ¡Le pegaste!</p>

					<!-- Wrong Message -->
					<p class="h5 bg-danger wrong" style="display:none;"><span class="text-danger glyphicon glyphicon-remove" aria-hidden="true"></span> Segui estudiando.</p>

				</div>

				<div class="col-md-3">

					<!-- Next Button -->
					<p class="h5"><button class="btn btn-primary btn-block" id="id_nextButton" title="Continuar">Continuar</button></p>

				</div>

			</div>

			<hr>
			
			<!-- Correct Answer -->
			<p class="result h4">La respuesta correcta es: <strong><%= answer %></strong> <span class="text-muted"><% if(birth_death != ""){%>(<%= birth_death %>)<%}%></span></p>

			<!-- Name -->
			<% if(name != '' || year != '' || type != '' ){%>
				<hr>
				<h4><%= name %> <span class="text-muted">(<%= year %>)</span></h4>
				<p class="text-muted"><%= type %></p>
			<%}%>

			<% if(info != '' || extra != '' || links != '' ){%>
				<hr>

				<!-- Info -->
				<% if(info != ''){%>
					<h5 class="text-muted">¿Que se puede hablar sobre esta pieza?</h5>
					<ul class="text-muted"><%= info %></ul>
				<%}%>

				<!-- Extra -->
				<% if(extra != ''){%>
					<h5 class="text-muted">Más información</h5>
					<ul class="text-muted"><%= extra %></ul>
				<%}%>

				<!-- Links -->
				<% if(links != ''){%>
					<h5 class="text-muted">Links</h5>
					<ul class="text-muted"><%= links %></ul>
				<%}%>

			<%}%>			

		</div>

	</div>

</div>
</script>


<!-- JS Vendor -->
<script type="text/javascript"src="js/vendor/jquery.min.js"></script>
<script type="text/javascript"src="js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"src="js/vendor/underscore.min.js"></script>
<script type="text/javascript"src="js/vendor/backbone.min.js"></script>
<script type="text/javascript"src="js/vendor/backbone.epoxy.min.js"></script>
<script type="text/javascript"src="js/vendor/backbone.validation.min.js"></script>

<!-- App JS -->
<script type="text/javascript" src="js/answers.js"></script>
<script type="text/javascript" src="js/questionModel.js"></script>
<script type="text/javascript" src="js/answersCollection.js"></script>
<script type="text/javascript" src="js/questionView.js"></script>
<script type="text/javascript" src="js/appModel.js"></script>
<script type="text/javascript" src="js/appView.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<!-- Google Plus -->
<script src="https://apis.google.com/js/platform.js" async defer>
	{lang: 'es-419'}
</script>

</body>
</html>
