<div class="row">

	<div class="col-md-8 col-md-offset-2" id="">

		<div class="row">
			<div class="col-md-12">
				<a href="#">Volver</a>
				<h2>Agregar una pregunta nueva</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<form>

					<!-- answer -->
					<div class="form-group">
						<label for="answer">Respuesta</label>
						<span class="text-danger">*</span>
						<input type="text" class="form-control" id="answer" name="answer" placeholder="Nombre del autor">
					</div>

					<!-- filename -->
					<div class="form-group">
						<label for="filename">Imagen</label>
						<span class="text-danger">*</span>
						<input type="text" class="form-control" id="filename" name="filename" placeholder="Nombre del archivo de imagen">
					</div>

					<!-- birth_death -->
					<div class="form-group">
						<label for="birth_death">Nacimiento - Defunción</label>
						<input type="text" class="form-control" id="birth_death" name="birth_death" placeholder="Periodo de vida del autor">
					</div>

					<!-- name -->
					<div class="form-group">
						<label for="name">Nombre</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Nombre de la pieza">
					</div>

					<!-- year -->
					<div class="form-group">
						<label for="year">Año</label>
						<input type="text" class="form-control" id="year" name="year" placeholder="Año de la pieza">
					</div>

					<!-- type -->
					<div class="form-group">
						<label for="type">Tipo</label>
						<input type="text" class="form-control" id="type" name="type" placeholder="Tipo de pieza">
					</div>

					<!-- info -->
					<div class="form-group">
						<div>
							<label for="info">Desarrollo</label>
							<input type="text" class="form-control" id="info" name="info" placeholder="¿Qué se puede decir sobre esta pieza?">
							<button class="btn btn-default">Agregar</button>
						</div>
						<div class="itemsAdded"></div>
					</div>

					<!-- extra -->
					<div class="form-group">
						<div>
							<label for="extra">Más información</label>
							<input type="text" class="form-control" id="extra" name="extra" placeholder="Información adicional">
							<button class="btn btn-default">Agregar</button>
						</div>
						<div class="itemsAdded"></div>
					</div>

					<!-- links -->
					<div class="form-group">
						<div>
							<label for="links">Links</label>
							<input type="text" class="form-control" id="links" name="links" placeholder="Links a más información">
							<button class="btn btn-default">Agregar</button>
						</div>
						<div class="itemsAdded"></div>
					</div>

					<div class="buttons">
						<input class="btn btn-primary" type="submit" value="Submit">
					</div>

				</form>

			</div>
		</div>
	</div>

</div>