<div class="row">

	<!-- Image -->
	<div class="col-md-6" id="id_imageColumn">
		<figure>	
			<img src="assets/images/game/<%= filename %>"/>
		</figure>
	</div>

	<!-- Form -->
	<div class="col-md-6" id="id_formColumn">		

		<header>
			<h1>Memorizate ésta.</h1>
			<p>Un juego para estudiar las piezas gráficas del final de Historia 2 de Cátedra Gavito.</p>
		</header>	

		<hr>

		<div class="row" id="id_statusRow">
			<div class="col-md-7">
				<p class="text-muted">
					<span id="id_questionStatus">Pregunta <strong><% var showActual = actual + 1; %><%= showActual %></strong> de <strong><%= total %></strong> (<%= Math.round( ((actual*100)/total) * 10) / 10 %>%)</span>
					<a class="text-danger" id="id_quitButton" title="Terminar juego">Terminar juego</a>
				</p>
			</div>
			<div class="col-md-5 text-right">
				<p class="text-muted">Respuestas: 
					<span class="text-success icon-answer"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong data-bind="text:correct"><%= correct %></strong></span>
					<span class="text-danger icon-answer"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <strong data-bind="text:wrong"><%= wrong %></strong></span>
				</p>
			</div>
			<div class="progressBar">
				<div class="bar bg-primary" style="width:<%= (actual*100)/total %>%;"></div>
			</div>
		</div>

		<hr>

		<div class="form-group">
			<label for="id_userAnswer">Escribe el nombre y/o apellido del autor de la pieza:</label>
			<input type="text" class="form-control" name="userAnswer" id="id_userAnswer" placeholder="Ésta pieza es de..." data-bind="value:userAnswer,events:['keyup']" />
		</div>

		<div class="row" id="id_buttonsRow">
			<div class="col-md-12">
				<button class="btn btn-default" id="id_getAnswerButton" title="Responder">Responder</button>
				<button class="btn btn-link" id="id_noAnswerButton" title="No la se">No la se</button>
			</div>
		</div>

		<div id="id_answerContainer" style="display:none;">
			
			<div class="row">

				<div class="col-md-9">

					<!-- Ok Message -->
					<p class="h5 bg-success ok" style="display:none;"><span class="text-success glyphicon glyphicon-ok" aria-hidden="true"></span> ¡Bien! ¡Le pegaste!</p>

					<!-- Wrong Message -->
					<p class="h5 bg-danger wrong" style="display:none;"><span class="text-danger glyphicon glyphicon-remove" aria-hidden="true"></span> Segui estudiando.</p>

				</div>

				<div class="col-md-3">

					<!-- Next Button -->
					<p class="h5"><button class="btn btn-primary btn-block" id="id_nextButton" title="Continuar">Continuar <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button></p>

				</div>

			</div>

			<hr>
			
			<!-- Correct Answer -->
			<p class="result h4">La respuesta correcta es: <strong><%= answer %></strong> <span class="text-muted"><% if(birth_death != ""){%>(<%= birth_death %>)<%}%></span></p>

			<!-- Name -->
			<% if(name != '' || year != '' || type != '' ){%>
				<hr>
				<h4><%= name %> <span class="text-muted">(<%= year %>)</span></h4>
				<p class="text-muted"><%= type %></p>
			<%}%>

			<% if(info != '' || extra != '' || links != '' ){%>
				<hr>

				<!-- Info -->
				<% if(info != ''){%>
					<h5 class="text-muted">¿Qué se puede decir sobre esta pieza?</h5>
					<ul class="text-muted"><%= info %></ul>
				<%}%>

				<!-- Extra -->
				<% if(extra != ''){%>
					<h5 class="text-muted">Más información</h5>
					<ul class="text-muted"><%= extra %></ul>
				<%}%>

				<!-- Links -->
				<% if(links != ''){%>
					<h5 class="text-muted">Links</h5>
					<ul class="text-muted"><%= links %></ul>
				<%}%>

			<%}%>			

		</div>

	</div>

</div>