<div id="id_resultsModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Fin del juego</h4>
			</div>
			<div class="modal-body">

				<p>¡Gracias por jugar! Este es tu resultado:<p>

				<div class="well" id="id_results">
					
					<div class="h4">
						<span class="text-muted">Preguntas respondidas:</span> <strong><%= actual %></strong> de <strong><%= total %></strong> (<%= Math.round( ((actual*100)/total) * 10) / 10 %>%)
					</div>

					<div class="h4">
						<span class="text-muted">Respuestas:</span> 
						<span class="text-success icon-answer"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong><%= correct %></strong></span> 
						<span class="text-danger icon-answer"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <strong><%= wrong %></strong></span> 
					</div>

				</div>
				
				<p>Pasalo a tus compañeros, es más divertido estudiar jugando. <span class="br">Y si te gusto, ¡compartilo!</span></p>

			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-8">
						<div class="share">

							<!-- Twitter -->
							<span id="id_tweetButton">
								<a href="https://twitter.com/share" class="twitter-share-button" data-via="dbleyenda" data-hashtags="Gavito2">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							</span>

							<!-- Facebook -->
							<span id="id_facebookLikeButton">
								<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdbleyenda.github.io%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
							</span>

						</div>
					</div>
					<div class="col-sm-4 text-right">
						<button id="id_tryAgain" class="btn btn-primary" title="Intentar de nuevo">Intentar de nuevo</button>
					</div>
				</div>
			</div>

			<% if(wrong_answered.length > 0){ %>

			<div class="wrong-answers">
				<hr>
				<div class="results">
					<h5>Esto es en lo que te equivocaste:</h5>
					<div class="auto-scroll">
						<table class="table table-responsive">
							<thead>
								<tr>
									<th>Pieza</th>
									<th>Respuesta correcta</th>
									<th>Tu Respuesta</th>
								</tr>
							</thead>
							<tbody>
							<% for(var i=0;i<wrong_answered.length;i++){ %>
								<tr>
									<td><img src="assets/images/game/<%= wrong_answered[i].filename %>"/></td>
									<td><span class="text-success icon-answer"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong><%= wrong_answered[i].answer %></strong> </span></td>
									<td>
										<% if(wrong_answered[i].userAnswer != '=('){ %>
											<span class="text-danger icon-answer"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <strong><%= wrong_answered[i].userAnswer %></strong> </span> 
										<% } %>	
									</td>
								</tr>	
							<% } %>
							</tbody>
						</table>
					</div>
				</div>
				
				<% if(wrong_answered.length > 5){ %>
				<hr>
				<div class="buttons text-right">
					<button id="id_tryAgain" class="btn btn-primary" title="Intentar de nuevo">Intentar de nuevo</button>
				</div>
				<% } %>

			</div>
			<% } %>
		
		</div>
	</div>
</div>