<div class="row">

	<div class="col-md-6 col-md-offset-3" id="id_login">

		<div class="row">
			<div class="col-md-12">
				<a href="#">&lt; Ir al juego</a>
				<h2>Ingreso de usuario</h2>
			</div>
		</div>

		<hr>

		<div class="row" id="id_loginContent">
			<div class="col-md-12">
				<div class="form-group">
					<input type="text" name="email" id="id_email" placeholder="E-mail" class="form-control field" data-bind="value:email,events:['keyup']">
				</div>
				<div class="form-group">
					<input type="password" name="password" id="id_password" placeholder="Contraseña" class="form-control field" autocomplete="new-password" data-bind="value:password,events:['keyup']">
				</div>
				<hr>
				<div class="buttons center">
					<button class="btn btn-primary" id="id_loginSubmit">Ingresar</button>
				</div>
			</div>
			
		</div>
	</div>

</div>