<div class="container">

	<hr>

	<div class="row">
		<div class="col-md-9 col-lg-10 text-left">
			<p>Última actualización: <strong>Agosto 2018</strong>. Autor: <a href="http://www.ignaciosans.com" target="_blank" id="portfolio">Ignacio Sans</a>. Github: <a href="https://github.com/dbleyenda">dbleyenda</a>. <span>Carrera de Diseño Gráfico. FADU. UBA. Buenos Aires. Argentina.</span></p>
		</div>
		<div class="col-md-3 col-lg-2 text-right">
			<span id="footer-nav">
				<a href="#" class="game" style="display:none;">Ir al juego</a>
				<a href="#/study" class="study">Modo estudio</a>
				<span>|</span>
			</span>
			<a href="#/admin">Admin</a>
		</div>
	</div>

</div>
